.usersHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #f7f7f794;

}


.usersTable {
    width: 95%;
    min-height: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 20px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

.usersTable table {
    width: 100%;
    min-height: 700px;
    border-collapse: collapse;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #0a0a0a;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: #d4d0d0a2;
    text-align: center;

}

.usersTable table th {
    background-color: #3ddaebc6;
    color: white;
    padding: 10px;
    text-align: center;
}

.userTable table td {
    border-bottom: 2px solid #3ddaebbb;
    padding: 10px;
    text-align: center;
}

.usersTable table tr:nth-child(even) {
    background-color: #f2f2f2b6;
}

.usersTable table tr:hover {
    background-color: #d7ddde;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.deleteButton {
    background-color: red;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
    color: #0a0a0a;
}

.deleteButton:hover {
    background-color: #3DD9EB;
    animation: scale 0.2s linear forwards;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.roleSelect {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    font-weight: bold;
    color: #0a0a0a;
    text-align: center;
}

@media (max-width: 768px) {
    .usersHeader {
        margin-top: 80px;
        z-index: 0;
    }

    .usersTable {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        padding: 0px;
    }

    .usersTable table {
        width: 450px;
        min-height: 700px;
        border-collapse: collapse;
        font-size: 15px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        background-color: #d4d0d0a2;
    }

    .roleSelect {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

    .deleteButton {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }

    .usersTable table th {
        padding: 10px 0px 10px 0px;
    }

    .usersTable table td {
        text-align: center;
        font-size: 15px;
    }
}
