
.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/bg-image/5eeb369cd9ed811cdb71bd859b7d626d.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #3DD9EB;
    border-top-color: rgb(228, 228, 223);
    animation: spin 0.7s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;

}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

