.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.searchButton {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
    border: none;
    margin-left: 15px;
    font-size: 35px;
    text-align: center;

}

.searchButton:hover {
    background-color: #3DD9EB;
    animation: scale 0.2s linear forwards;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

.searchInput {
    width: 600px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    outline: none;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
    .searchContainer {
        margin: 10px;
    }
    .searchButton {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        font-size: 20px;
    }

    .searchInput {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }
}
